body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "nav header"
    "nav main"
    "footer main";
  height: 100vh;
}

nav {
  grid-area: nav;
  background-color: #21447c;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  position: relative;
}

header {
  grid-area: header;
  background-color: #203064;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filtro-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.filtro-container label {
  margin-right: 10px;
  color: white;
  font-weight: 600;
}

.filtro-container select {
  width: 90%;
  background-color: #f0c111;
}

.menu-navegacion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.product-cards-pokemon {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

main {
  grid-area: main;
  background-color: #f0c111;
  padding: 20px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer {
  grid-area: footer;
  background-color: black;
  padding: 10px;
  color: white;
  text-align: center;
}

.logo {
  width: 150px;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pie-pagina {
  font-size: 8px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  font-size: 20px;
  margin-bottom: 20px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.nav-toggle:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.nav-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 0;
  margin: 0;
}

.nav-links a {
  color: white;
  text-decoration: none;
  transition: color 0.3s, transform 0.3s;
}

.nav-links a:hover {
  color: #f0c111;
  transform: scale(1.1);
}

.product-card {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s;
  width: 100%;
  border-radius: 15px; /* Redondear bordes */
}

.product-card:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-card img {
  width: 100%;
  height: auto;
  border-radius: 15px; /* Redondear bordes de las imágenes */
}

.product-card h3 {
  margin: 10px 0;
  color: #203064;
}

.product-card button {
  background-color: #d32f2f;
  color: #f0c111;
  border: none;
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  border-radius: 20px; /* Redondear botones */
}

.product-card button:hover {
  background-color: #b71c1c;
  transform: translateY(-2px); /* Levantamiento mínimo */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombreado en hover */
}

.nav-menu ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
}

.nav-menu {
  display: flex;
  align-items: flex-start;
  margin-top: 40px;
}

.rrss {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 10px;
}

.page-button {
  background-color: #f0c111;
  color: #d32f2f;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  border-radius: 5px;
}

.page-button:hover {
  background-color: #e0b111;
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.page-button.active {
  background-color: #d32f2f;
  color: #fff;
}

@media (max-width: 991px) {
  .nav-toggle {
    display: block;
  }

  .nav-links {
    display: none;
  }

  .nav-links.show {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #21447c;
    position: absolute;
    top: 80px;
    left: 0;
    width: 100%;
    padding: 20px;
  }
}

@media (min-width: 992px) {
  .nav-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
}

@media (max-width: 575px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 1fr auto;
    grid-template-areas:
      "nav"
      "header"
      "main"
      "footer";
  }

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-card {
    width: 100%;
    margin-bottom: 10px;
  }

  footer {
    font-size: 10px;
  }

  .menu-navbar {
    display: none;
  }

  .nav-toggle {
    size: 40px;
  }

  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: 576px) and (max-width: 991px) {
  .product-card {
    width: 40%;
  }
  .nav-toggle {
    display: none;
  }
}

@media (min-width: 992px) {
  .product-card {
    width: 20%;
  }
}
